<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Uvash_CE</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{128,192},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 64 0 64 64 0 0</string>
    <key>verticesUV</key>
    <string>128 256 192 192 192 256 128 192</string>
   </dict>
   <key>./Uvash_CMO</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,192},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 64 0 64 64 0 0</string>
    <key>verticesUV</key>
    <string>0 256 64 192 64 256 0 192</string>
   </dict>
   <key>./Uvash_HoS</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,192},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 64 0 64 64 0 0</string>
    <key>verticesUV</key>
    <string>64 256 128 192 128 256 64 192</string>
   </dict>
   <key>./barEng</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 256 0 256 64 0 0</string>
    <key>verticesUV</key>
    <string>0 64 256 0 256 64 0 0</string>
   </dict>
   <key>./barMed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{0,64},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 256 0 256 64 0 0</string>
    <key>verticesUV</key>
    <string>0 128 256 64 256 128 0 64</string>
   </dict>
   <key>./barSec</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{0,128},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 64 256 0 256 64 0 0</string>
    <key>verticesUV</key>
    <string>0 192 256 128 256 192 0 128</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{256,256}</string>
   <key>textureFileName</key>
   <string>uvash.png</string>
  </dict>
 </dict>
</plist>
