<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./MenuButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{320,64}</string>
    <key>spriteSourceSize</key>
    <string>{320,64}</string>
    <key>textureRect</key>
    <string>{{2,2},{320,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./MenuButtonSelected</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{320,64}</string>
    <key>spriteSourceSize</key>
    <string>{320,64}</string>
    <key>textureRect</key>
    <string>{{2,68},{320,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Uvash_CE</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{260,266},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Uvash_CMO</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{260,134},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Uvash_HoS</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{260,200},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./barEng</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{2,134},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./barMed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{2,200},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./barSec</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,64}</string>
    <key>spriteSourceSize</key>
    <string>{256,64}</string>
    <key>textureRect</key>
    <string>{{2,266},{256,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./exit</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{324,2},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./reset</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{324,36},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{360,334}</string>
   <key>textureFileName</key>
   <string>uvash.png</string>
  </dict>
 </dict>
</plist>
